@import '~normalize.css';



.main {
  max-width: 1440px;
  max-height: 1080px;
  height: 100vh;
  margin: auto;
  border: 1px solid #42567a2c;
  position: relative;
  box-sizing: border-box;

  .vertical-line::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #42567A;
    opacity: 10%;
  }
  .horizontal-line::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid #42567A;
    opacity: 10%;
  }
  .ellipse {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 1px solid #42567a3a;
    background-color: transparent;
    transform: translate(-50%, -50%);
    .circle {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #020202;
    }
    
    .circle:nth-child(1) {
      top: 14%;
      left: 85%;
      transform: translate(-50%, -50%);
    }
    
    .circle:nth-child(2) {
      top: 14%;
      left: 15%;
      transform: translate(-50%, -50%);
    }
    
    .circle:nth-child(3) {
      top: 50%;
      right: 0%;
      transform: translate(50%, -50%);
    }
    
    .circle:nth-child(4) {
      top: 86%;
      left: 15%;
      transform: translate(-50%, -50%);
    }
    
    .circle:nth-child(5) {
      bottom: 50%;
      left: 0%;
      transform: translate(-50%, 50%);
    }
    
    .circle:nth-child(6) {
      bottom: 14%;
      right: 15%;
      transform: translate(50%, 50%);
    }
    .active-circle {
      width: 56px;
      height: 56px;
      background-color: #fffcfc;
      border: 1px solid #303E58;
      line-height: 55px;
      text-align: center;
      font-size: 26px;
      font-family: "PT Sans", "Arial", sans-serif;
      font-weight: bold;
      .active-span {
        position: absolute;
        top: 50%;
        right: -80px;
        transform: translateY(-50%);
        z-index: 10000;
      }
    }

  }
  .main-dates{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 160px;
    width: 937px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 200px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 0;
    transform: translate(-50%, -50%);
    .left-date{
      color: #5D5FEF;
      margin-right: 5%;
    }
    .right-date{
      color: #EF5DA8;
      margin-left: 3%;
    }
  }
}

.swiper-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  padding-left: 100px;
  padding-right: 100px;
  height: 23%;

  .swiper-item{
    .swiper-item-title{
      font-family: "PT Sans", "Arial", sans-serif;
      font-size: 25px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: #3877EE;
      margin: 0;
    }
    .swiper-item-content{
      font-family: "PT Sans", "Arial", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: #42567A
    }
  }
}

.historical-dates{
  height: 77%;
  width: 100%;
  position: relative;
  .historical-dates-title{
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    color: #42567A;
    margin: 0;
    margin-left: 100px;
    padding-top: 170px; 
  }
  .historical-dates-title::before {
    content: '';
    position: absolute;
    left: 0px;
    height: 120px;
    width: 7px;
    background-image: linear-gradient(#3877EE, #EF5DA8);
  }
  
  .change-dates-btn{
    height: 88px;
    width: 120px;
    padding-left: 100px;
    padding-bottom: 5%;
    position: absolute;
    bottom: 0;
    .change-btns{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5%;
    }
  }
}